<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>Event Booking Platform</title>
    <!-- <link href=css/app.8359a9dc.css rel=preload as=style>
    <link href=css/chunk-vendors.2ac5db4b.css rel=preload as=style>
    <link href=js/app.eca4a582.js rel=preload as=script>
    <link href=js/chunk-vendors.6ccf0623.js rel=preload as=script>
    <link href=css/chunk-vendors.2ac5db4b.css rel=stylesheet>
    <link href=css/app.8359a9dc.css rel=stylesheet> -->
    <link href="css/elementUI.css" rel=stylesheet>

    <style scoped>
        .main {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            /* background-color: blanchedalmond; */

            padding: 0 100px;
            box-sizing: border-box;
        }

        .head {
            /* color: red; */
            display: flex;
            justify-content: space-between;
        }

        .head h1 {
            padding: 0;
            margin: 0;
            line-height: 100px;
        }

        .content {
            flex: 1;
        }
    </style>


</head>

<body><noscript><strong>We're sorry but Event Booking Platform doesn't work properly without JavaScript enabled. Please
            enable it to continue.</strong></noscript>
    <div id=app></div>
    <!-- <script src=js/chunk-vendors.6ccf0623.js></script>
    <script src=js/app.eca4a582.js></script> -->
    <script src=js/vue.js></script>
    <script src=js/vue-router.js></script>
    <script src="js/elementUI.js"></script>

    <script src="./data.js"></script>


    <script type="module">
        // import Vue from "vue";
        // import VueRouter from "vue-router";
        // import ElementUI from "element-ui";
        // import "element-ui/lib/theme-chalk/index.css";

        // import App from "./App.vue";
        // import Platform from "./components/Platform";
        // import Agenda from "./components/Agenda.vue";
        // import Login from "./components/Login.vue";

        Vue.config.productionTip = false;

        Vue.use(VueRouter);
        // Vue.use(ElementUI);

        // const routes = {
        //   "/": Agenda,
        //   "/login": Login,
        // };

        // const routes = [
        //     { path: "/", component: Platform },
        //     { path: "/genda", component: Agenda },
        //     { path: "/login", component: Login },
        // ];

        // const router = new VueRouter({
        //     routes, // (缩写) 相当于 routes: routes
        // });

        let data = {
            name: 'jjjjjjj'
        }
        console.log(window.data);

        new Vue({
            // router,
            // render: (h) => h(App),
            // template: "<div>你好</div>",
            data: () => {
                return window.data
            },
            methods: {
                objectSpanMethod({ row, column, rowIndex, columnIndex }) {
                    if (columnIndex === 0) {
                        if (rowIndex % 2 === 0) {
                            return {
                                rowspan: 2,
                                colspan: 1,
                            };
                        } else {
                            return {
                                rowspan: 0,
                                colspan: 0,
                            };
                        }
                    }
                },
            },
            template: `
            <div class="main">
                <div class="head">
                <h1>WorldSkills Conference 2019</h1>
                <!-- <button>Login</button> -->
                <div style="line-height:100px">
                    <router-link to="/login">
                    <el-button>Redister for this event</el-button>
                    </router-link>
                </div>
                </div>
                <div class="content">
                <el-table
                    :data="tableData"
                    :span-method="objectSpanMethod"
                    border
                    style="width: 100%"
                >
                    <el-table-column prop="name" label=""> </el-table-column>
                    <el-table-column prop="room" label="" width="180"> </el-table-column>
                    <el-table-column prop="time9" label="9:00">
                    <template slot-scope="scope">
                        <span style="" v-if="scope.row.time9.name">
                        <el-button>
                            {{ scope.row.time9.name }}
                        </el-button>
                        </span>
                    </template>
                    </el-table-column>
                    <!-- <el-table-column prop="time10" label=""> </el-table-column> -->
                    <el-table-column prop="time11" label="11:00"
                    ><template slot-scope="scope">
                        <span style="">{{ scope.row.name }}</span>
                    </template>
                    </el-table-column>
                    <el-table-column prop="time13" label="13:00">
                    <template slot-scope="scope">
                        <span style="" v-if="scope.row.time13.name"
                        ><el-button type="success">
                            {{ scope.row.time13.name }}
                        </el-button></span
                        >
                    </template>
                    </el-table-column>
                    <el-table-column prop="time15" label="15:00"> </el-table-column>
                </el-table>
                </div>
            </div>
            `,
        }).$mount("#app");

    </script>
</body>

</html>